.label{
    -fx-font-family: Hack;
}

.currency{
    -fx-background-color: #3fc765;
    -fx-border-radius: 10;
    -fx-font-family: Hack;
    -fx-font-size: 30;
    -fx-background-radius: 20%;
    /*-fx-border-color: black; !* Optional: To add a border *!*/
    -fx-alignment: center;

}

