.error {
    -fx-border-color: red;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-border-radius: 3;
}

.success {
    -fx-border-color: #00ff02;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-border-radius: 3;
}

.red-focus:focused {
    -fx-border-color: red;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-border-radius: 3;
}